<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH2pJN3G6EygGGTQkDoNNgPjYekO_v6tY</string>
	<key>GCM_SENDER_ID</key>
	<string>845572884017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yonatan.roomies</string>
	<key>PROJECT_ID</key>
	<string>roomies-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>roomies-hub.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845572884017:ios:bbeb4d579902df6af6b710</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4539954746841772~9470743711</string>
</dict>
</plist>